@using PagedList.Mvc
@model PagedList.IPagedList<TPRM.MVC.ViewModels.TransacaoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="titulo">Lista de Transações</h2>

<div class="row">
    <div class="col-md-6">
        @if (User.IsInRole("admin") || User.IsInRole("cliente"))
        {
            @Html.ActionLink("Criar Novo", "Create", 1, new { @class = "btn btn-success" })
        }
    </div>
    <div class="col-md-4">
        @using (Html.BeginForm("Index", "Transacoes", FormMethod.Get))
        {
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Pesquisar</button>
                </span>
                @Html.TextBox("searchString", null, new { @class = "form-control", @placeholder = "Nome da empresa ou status..." })

            </div>
        }

    </div>
</div>
<br />

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Serviço")
        </th>
        <th>
            @Html.ActionLink("Contratada", "Index", new { sortOrder = ViewBag.EmpresaContratadaParam })
        </th>
        <th>
            @Html.ActionLink("Contratante", "Index", new { sortOrder = ViewBag.EmpresaContratanteParam })
        </th>
        <th>
            @Html.DisplayName("Motivo")
        </th>
        <th>
            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusParam })
        </th>
        <th>
            @Html.DisplayName("Arquivo")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Servico.DescricaoServico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresaContratada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeEmpresaContratante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Motivo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FileName)
            </td>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("analista"))
                {
                    @Html.ActionLink("Editar", "Edit", new { id = item.TransacaoId }, new { @class = "btn btn-primary btn-be" })

                }
            </td>
            <td>
                @if (User.IsInRole("admin") || User.IsInRole("analista"))
                {
                    @Html.ActionLink("Download", "Download", new { id = item.TransacaoId }, new { @class = "btn btn-primary btn-be" })
                }
            </td>
        </tr>
    }

</table>

Pagina @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))