<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Meu Aplicativo ASP.NET</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <section class="jk-header">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="~/Imagem/Bernhoeft02.png" /></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @if (Request.IsAuthenticated)
                        {
                            if (User.IsInRole("admin"))
                            {
                                <li>@Html.ActionLink("SERVIÇOS", "Index", "Servicos")</li>
                                <li>@Html.ActionLink("EMPRESAS", "Index", "Empresas")</li>
                                <li>@Html.ActionLink("TRANSAÇÕES", "Index", "Transacoes")</li>
                            }
                            else if (User.IsInRole("analista"))
                            {
                                <li>@Html.ActionLink("SERVIÇOS", "Index", "Servicos")</li>
                                <li>@Html.ActionLink("TRANSAÇÕES", "Index", "Transacoes")</li>
                            }
                            else if (User.IsInRole("cliente"))
                            {
                                <li>@Html.ActionLink("TRANSAÇÕES", "Index", "Transacoes")</li>
                            }

                        }
                    </ul>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="active">@Html.Partial("_LoginPartial")</li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Sistema TPRM - Todos os direitos reservados</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
